* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 a {
    color: currentColor;
    text-decoration: none;
 }

 body {
    background-color: rgba(111, 228, 111, 0.295);
 }
/*CONTAINER RULES***/
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
	font-size: 50px;
    text-align: center;
    margin: 20px;
    color: rgb(25, 95, 25);
    text-transform: uppercase;
}

.container h1:hover {
	font-size: 50px;
    text-align: center;
    margin: 20px;
    color: rgb(32, 167, 32);
    text-transform: uppercase;
}

/***BUTTON RULES***/
button {
    width: 400px;
    align-items: center;
    margin-left: 250px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(120, 209, 120, 0.815);
    border: 2px solid rgb(25, 95, 25);
    border-radius: 20px;
    
}

button h2 {
	font-size: 20px;
    text-align: center;
    color: rgb(253, 253, 253);
    
}




/**GRIGLIA RULES***/
.griglia {
	display: flex;
	flex-wrap: wrap;
    margin: 20px;
}

.griglia > * {
	aspect-ratio: 1;
    border: 1px solid rgb(40, 128, 40);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
    background-color: rgba(85, 209, 85, 0.548);
}



/**BONUS RULES***/

.cella-selezionata{
    background-color: rgba(81, 253, 81, 0.664);
}


